<!-- Top-level navigation menu -->
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <!-- Site name and home link -->
        <a class="navbar-brand" href="">Used Phones Web Shop</a>
        <!-- Toggle button for navigation menu -->
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<!-- Actual navigation menu -->
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Home link -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Register link -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register" Match="NavLinkMatch.Prefix">
                <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Rekisteröidy
            </NavLink>
        </div>

        <!-- Login link -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login" Match="NavLinkMatch.Prefix">
                <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Kirjaudu sisään
            </NavLink>
        </div>

        <!-- Links for authenticated users -->
        <AuthorizeView Context="authViewContext">
            <Authorized>
                <!-- Customer and Admin Links -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/offer">
                        <span class="bi bi-calculator" aria-hidden="true"></span> Myy puhelimesi!
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/store">
                        <span class="bi bi-shop" aria-hidden="true"></span> Kauppa
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/cart">
                        <span class="bi bi-cart" aria-hidden="true"></span> Ostoskori
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/checkout">
                        <span class="bi bi-credit-card" aria-hidden="true"></span> Kassalle
                    </NavLink>
                </div>

                <!-- Admin Only Links -->
                <AuthorizeView Roles="Admin" Context="adminViewContext">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/users">
                                <span class="bi bi-people-fill" aria-hidden="true"></span> Käyttäjien Hallinta
                            </NavLink>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <!-- Content for users who are authenticated but not Admins, if any -->
                    </NotAuthorized>
                </AuthorizeView>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="/login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Kirjaudu sisään
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}